/*This is the css for background image*/
body::after{
content : "";
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity : 0.2;
z-index: -1;
background: url("img/background.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
input:required {
	border: 1px solid red;
}

h3{
  font-family: 'Ubuntu Mono', monospace;
  text-align: center;
}
/*This is for the red buttons */
.btnR {
  width: 60%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.btnR:hover {
  background: #d13434;
  text-decoration: none;
}
/*This is for the green butotns*/
.btnG{
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #00930a;
  padding: 5px 10px 5px 10px;
  border: solid #000000 2px;
  text-decoration: none;
}
.btnG:hover {
  background: #d13434;
  text-decoration: none;
}
body {
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.wrapper{
	text-align: center;
}
.btn-responsive{
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #9E0101;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}
.jumbotron{
	background: transparent !important;
}
@media (min-width: 770px) {
.btn-responsive {
	width: 50%;
	padding:2px 1px;
	font-size:40px;
	line-height: 1;
	border-radius:3px;
}
}
@media (max-width: 768px) {
.btn-responsive {
	padding:2px 4px;
	font-size:80%;
	width: 50%;
	line-height: 1;
	border-radius:3px;
}
}
@media (min-width: 769px) and (max-width: 992px) {
.btn-responsive {
	padding:4px 9px;
	font-size:90%;
	line-height: 1.2;
}
}
